#navbar{
  border: 2px solid #f48024;
  width: 98.65%;
  display: flex;
  margin:auto;
  /* justify-content: space-around; */
  align-items: center;
  padding: 10px;
  position: sticky;
  top:0px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
 background-color: white;
 /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
#lh img{
  width: 45px;
}
#hanb:hover #contents{
  display:block
}
#lh
{
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:25% ;
}
#lh>img:nth-child(1){
  width:30%;
}
#lh>img:nth-child(2){
/* border-radius: 60%; */
width:30%;
}
#sec{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:45% ;
}
#ls{
  /* border: 2px solid red; */
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  width:40% ;
}
#ls button{
  margin-right: 7px;
  padding:10px;
  color:white;
  border-radius: 5px;
  background-color:#f48024 ;
  border:none;
}
#sec>div:nth-child(1)
{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
#sec>div:nth-child(2)
{
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 
}
#sec>div:nth-child(2) input{
  width: 160%;
  padding:10px;
  border-radius: 5px;
  margin-right: 7px;

}
#input{
  border:1px solid #f48024;
  /* width:150px; */
  margin-right: 7%;

}
#navbtn button{
  padding:10px;
  border:1px solid #f48024;
  border-radius: 5px;
  color:#f48024;
  font-size:medium;
  line-height:15px;
  margin-right: 10px;

}
#navbtn button:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#contents button{
  padding:10px;
  border:1px solid #f48024;
  border-radius: 5px;
  color:#f48024;
  font-size:medium;
  line-height:15px;
  margin-right: 10px;
  margin-bottom: 3px;
}
#hb{
  display: none;
}
#hb img{
  width: 5%;
}
@media (min-width:601px) and (max-width:1100px)
{
  
  #parents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:12px;
  }
  #lh{
    display: none;
}
#sec>div:nth-child(2) input
{
  display: block;
}
#sec>div:nth-child(1)
{
  display: none;
}
#hb{
    display: block;
}
#contents{
    display: none;
}
#hb:hover #contents{
    display: block;
    position: fixed;
    left: 20px;
}
#contents button{
    display: block;
}
.top-section {
  background-image: none;
  /* background-repeat: no-repeat;
  background-position:  left; */
  background-color: #003140 ;
  /* background-size: 30%; */
  
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}
}
@media (min-width:320px) and (max-width:600px)
{
  #navbar{
    width: 96%;
  }
  .top-section-para {
    margin:auto;
    font-size: 2rem;
    color: white;
    max-width: 40rem;
    font-weight: 400;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }
  .top-section {
    background-image: none;
    /* background-repeat: no-repeat;
    background-position:  left; */
    background-color: #003140 ;
    /* background-size: 30%; */
    
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
  }
  #main{
    display: none;
  }
#parents{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
  #lh{
      display: none;
  }
  #sec>div:nth-child(2) input
  {
    display: block;
  }
  #sec>div:nth-child(1)
  {
    display: none;
  }
  #hb{
      display: block;
  }
  #contents{
      display: none;
  }
  #hb:hover #contents{
      display: block;
      position: fixed;
      left: 20px;
  }
  #contents button{
      display: block;
  }

  .footer{
    display:flex;
    flex-wrap: wrap;
 }
 #pTag{
    display:flex;
    flex-wrap: wrap; 
 }
}