body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.hamburger{
  position:relative;
  display:none;
  width:35px;
  cursor:pointer;
  appearance: none;
  background: none;
  outline:none;
  border:none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
  content:"";
  display:block;
  width:100%;
  height:5px;
  background-color:#f48024;
  margin:6px 0px;
  transition : 0.4s;

}

#ham-nav{
  position:fixed;
  top:0;
  left:100%;
  width:100%;
  min-height: 100vh;
  display:block;
  z-index: 98;
  background-color: white;
  padding-top: 120px;
  margin-top: 70px;

}
#ham-nav.is-active{
  left:0;
}
#ham-nav h1 a {
  display:block;
  width:100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding:12px 16px;
  background-color: white;
  color:#f48024;
  text-decoration: none;
}

#navbar {
  border: 4px solid #f48024;
  width: auto;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

#lh {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
}

#lh>img:nth-child(1) {
  width: 30px;
}

#lh>img:nth-child(2) {
  width: 30%;
}

#sec {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  display:block;
  width: 45%;
}

#ls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ls button {
  margin-right: 7px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: #f48024;
  border: none;
}

#sec>div:nth-child(1) {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#sec>div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#sec>div:nth-child(2) input {
  width: 160%;
  padding: 10px;
  border-radius: 5px;
  margin-right: 7px;
}

#input {
  border: 1px solid #f48024;
  margin-right: 7%;
}

#navbtn button {
  padding: 10px;
  border: 1px solid #f48024;
  border-radius: 5px;
  color: #f48024;
  font-size: medium;
  line-height: 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.4s;
}

#navbtn button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 1;
}

#contents button {
  padding: 10px;
  border: 1px solid #f48024;
  border-radius: 5px;
  color: #f48024;
  font-size: medium;
  line-height: 15px;
  margin-right: 10px;
  margin-bottom: 3px;
}




@media screen and (max-width: 768px) {
  #navbar {
    justify-content: space-between;
    padding: 5px;
  }

  .hamburger{
    display:block;
  }
  
  
  #ls button {
    margin-right: 0;
  }

  
}