*{
  margin: 0px;
  padding: 0px;
}
#in_login {
  margin-right: 0px;
}
a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

#home {
  display: flex;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* .button {
  border-radius: 3px;
  
} */

#rightdiv {
  background-color: rgb(251, 243, 213);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  height: 100%;
  margin-left: 20px;
}

#askques {
  background-color: rgb(10, 149, 255);
  color: white;
  border: 0px;
  width: 100px;
  height: 40px;
  border-radius: 0.3rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

#latest,
#old,
#hot {
  background-color: rgb(10, 149, 255);
  color: white;
  width: 80px;
  height: 30px;
  border: 0px;
  margin-right: 5px;
}

#latest:hover,
#old:hover,
#hot:hover {
  background-color: rgb(233, 121, 30);
  cursor: pointer;
}

#askques:hover {
  background-color: rgb(233, 121, 30);
  cursor: pointer;
}

#rightdiv h4 {
  margin-left: 10px;
}

.icons,
#sidebyside,
.qtab {
  display: flex;
}

#sidebyside {
  display: flex;
  justify-content: space-between;
}

#table {
  display: flex;
  margin-left: 400px;
}

.icons img {
  width: 20px;
  margin-left: 10px;
  margin-right: 7px;
}

#leftdiv {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 50px 0 0 20px;
  width: 210px;
  /* border-right: 1px solid;
    height: 100%; */
  text-align: left;
  margin: auto;
  /* margin-left: -40px; */
  /* margin-top: 0px; */
}

#leftdiv a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 10px;
  /* border:1px solid black; */
}

#leftdiv p {
  color: black;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#rightdiv h4,
#rightdiv a,
#renderhere p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#table,
.box {
  display: flex;
  justify-content: space-evenly;
}

#renderdata {
  width: 60%;
  margin-right: 30px;
  margin-left: 160px;
}

#list li,
#leftdiv p {
  margin-left: 40px;
  margin-bottom: 8px;
  margin-top: 5px;
  /* border:1px solid black; */
}

.questions {
  margin-left: 40px;
}

.vote {
  margin-left: 20px;
}

.heading,
.des {
  margin-bottom: 8px;
}

.heading:hover {
  cursor: pointer;
}

.qbox {
  width: 70%;
}

.abox {
  width: 30%;
  text-align: center;
}

.box {
  /* border:1px solid black; */
  margin-bottom: 10px;
  margin-top: 10px;
}

.vertical {
  border-left: 1px solid black;

  position: absolute;
  margin-left: -470px;
  left: 50%;
}

#leftdiv a:hover {
  color: rgb(233, 121, 30);
}



/* Center the preloader */
#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fafafb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  scrollbar-width: none;
}

/* Rotate the loading icon */
.preloader-icon {
  animation: spin 1s infinite linear;
  font-size: 4rem;
  color: #f48024;
}

/* Rotate the preloader */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaded #preloader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

/* TopQuestion new styling start */

#whole-page {
  display: flex;
  width: 80%;
  /* border: 2px solid blue; */
  margin: auto;
  justify-content: space-evenly;
}

.image {
  width: 20px;
  margin-top: 10px;
}

.left-sidebar {
  padding: 10px 0px 10px 80px;
  flex-direction: column;
  /* height: auto; */
  padding-right: 20px;
  font-size: small;
  position: sticky;
  width: 17%;
}

.home {
  padding: 10px 0px;
  color: #a0a5ab;
}
.home:hover {
  font-weight: 700;
  color: black;
}

.ques {
  padding: 10px 0px;
  color: #a0a5ab;
}

.ques > p:hover {
  font-weight: 700;
  color: black;
}
.ques .fa-earth-americas {
  color: black;
}

.subparts > p {
  padding: 10px 0px 10px 30px;
  color: #a0a5ab;
}

.subparts > p:hover {
  font-weight: 700;
  color: black;
}

.collectives {
  padding: 20px 0px;
  color: #a0a5ab;
}

.starImage {
  /* border: 2px solid red; */
  display: flex;
}

.starImage > p {
  /* border: 2px solid black; */
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  margin-top: 10px;
  color: #a0a5ab;
}
.fa-solid {
  /* border: 2px solid black; */
  padding-top: 17px;
  color: black;
}

.topQuestion {
  /* border: 2px solid yellow; */
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 300px;
  padding: 10px;
}

.top-section {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  /* height: 200px; */
  padding: 10px;
}

.top-section > h1 {
  /* padding: 20px 0px 0px 20px; */
  font-weight: 400;
  font-size: 30px;
  /* border: 2px solid green; */
  /* height: 50px; */
  width: 200px;
}

.AskButton {
  padding: 10px;
  /* margin: 20px 20px 0px 0px; */
  background-color: rgb(10, 149, 255);
  color: white;
  border-radius: 6px;
  border: 2px solid rgb(10, 149, 255);
  transition: all 0.5s;
}

.AskButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

.right-sidebar {
  text-align: center;
}

.second-top {
  display: flex;
  float: right;
  margin-top: 30px;
  margin-right: 0px;
}

.second-top .filterby {
  border: 1px solid gray;
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(227, 230, 232);
  cursor: pointer;
  margin: 2px;
}

.third-section {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
}

.details div {
  margin: 10px 0px 10px 50px;
  font-size: 12px;
  text-align: right;
}

.title {
  /* border: 2px solid purple; */
  width: 80%;
  margin-left: 10px;
}
.questionTitle {
  /* border: 2px solid red; */
  margin-top: 8px;
  margin-left: 20px;
  font-size: medium;
  color: rgb(49, 149, 212);
}

#tags {
  /* border: 2px solid red; */
  display: flex;
  margin-top: 20px;
  width: auto;
}

.tags {
  /* border: 2px solid red; */
  font-size: 12px;
  padding: 5px;
  margin-top: -15px;
  margin-left: 18px;
  background-color: rgb(225, 236, 244);
  color: rgb(89, 129, 177);
  border-radius: 2px;
}

.userName {
  /* border: 2px solid green; */
  float: left;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(89, 129, 177);
}

.boxOne > img {
  border: 1px solid rgb(220, 215, 215);
  width: 300px;
  margin-left: 0px;
  padding: 10px;
  height: 100%;
}

@media screen and (min-width:768px) and (max-width:1440px){
  .boxOne{
    display: none;
  }
  .topQuestion{
    margin: auto;
  }
}

@media screen and (min-width:576px) and (max-width:767px){
  .boxOne{
    display: none;
  }
  .topQuestion{
    margin: auto;
  }
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  background-color: rgb(178, 178, 178);
  width: 300px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(184, 162, 162);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 10px 10px 30px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  margin-top: 400px;
  padding: 30px;
  max-height: 1800px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color:#ffffff;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #9c5151;
}

.chat-form-container {
  display: flex;
  margin-top: 300px;
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

.sent_msg {
  float: right;
}

.recieved_msg {
  float: left;
}
.chat-container{
  margin-top: 500px;

}

.btn-icon{
  background-color: #080808;
  color: white;
}
#close{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #555;
  color: white;
}

.chat-main{
  width: 500px;
  height: auto;

}